@font-face {
    font-family: 'Lato';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/969699/lato-latin-400.woff');
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
    background: transparent;
    font-family: 'Lato';
  }
  
  #controls {
    position: absolute;
    left: 0;
    right: 0;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
  }
  
  #controls input {
    margin: 0 10px;
  }
  
  canvas {
    width: 100%;
  }
  