@include-when-export url(https://fonts.loli.net/css?family=Inconsolata:400,700&subset=latin-ext);

:root {
  /*--bg-color: #222;*/
  --bg-color: #111;
  /*--side-bar-bg-color: #5F5F5F;*/
  --side-bar-bg-color: #111;
  /*--active-file-text-color: #222;*/
  --active-file-text-color: #111;
  --text-color: #ebebeb;
  /*--window-border: 1px solid #606060;*/
  --window-border: 1px solid #111;
  /*--active-file-bg-color: rgba(219, 219, 253, 0.4);*/
  --active-file-bg-color: rgba(252, 219, 241, 0.4);
  /*--active-file-bg-color: #A73172;*/
  --active-file-text-color: white;
  --control-text-color: #ccc;
  /*--rawblock-edit-panel-bd: #263238;*/
  --rawblock-edit-panel-bd: #111;
}

html, body {
  font-size: 16px;
  color: #ebebeb;
  /*background: #222;*/
  background: #111;
  background: var(--bg-color);
  font-family: 'Inconsolata', monospace;
}

/* latin-ext */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), url(monospace/Inconsolata-Regular.ttf) format('truetype');
}
/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: local('Inconsolata Bold'), url(monospace/Inconsolata-Bold.ttf) format('truetype');
}

html.mac-supports-vibrant,
.mac-supports-vibrant body {
  
}

#write {
  padding-left: 10ch;
  padding-right: 10ch;
}
/**
 * ---------------------
 * Block Elements
 */
pre.md-meta-block {
  font-family: monospace;
  color: #DDD;
  padding: 15px;
  background: inherit;
  border: 1px grey dashed;
  font-size: 0.8rem;
  line-height: 1.45;
}
h1,
h2,
h3,
h4,
h5,
h6,
[mdlike='h1'],
[mdlike='h2'],
[mdlike='h3'],
[mdlike='h4'],
[mdlike='h5'],
[mdlike='h6'] {
  font-weight: bold;
  font-family: "PT Mono", monospace;
  color: #dbdbfd;
}
[mdlike='h1'] > .md-blockmeta,
[mdlike='h2'] > .md-blockmeta,
[mdlike='h3'] > .md-blockmeta,
[mdlike='h4'] > .md-blockmeta,
[mdlike='h5'] > .md-blockmeta,
[mdlike='h6'] > .md-blockmeta {
  color: inherit;
  font-weight: inherit;
  font-style: inherit;
}
h1,
[mdlike='h1'] {
  font-size: 2rem;
}
h1:before {
  content: "# ";
}
h2,
[mdlike='h2'] {
  font-size: 1.6rem;
}
h2:before {
  content: "## ";
}
h3,
[mdlike='h3'] {
  font-size: 1.3rem;
}
h3:before,
h3.md-focus:before {
  content: "### ";
}
h4,
h5,
h6,
[mdlike='h4'],
[mdlike='h5'],
[mdlike='h6'] {
  color: #549ad8;
}
h4,
[mdlike='h4'] {
  font-size: 1.2rem;
}
h4:before,
h4.md-focus:before {
  content: "#### ";
}
h5,
[mdlike='h5'] {
  font-size: 1.1rem;
}
h5:before,
h5.md-focus:before {
  content: "##### ";
}
h6,
[mdlike='h6'] {
  font-size: 1rem;
}
h6:before,
h6.md-focus:before {
  content: "####### ";
}
/** override the default style for focused headings */
h3.md-focus:before,
h4.md-focus:before,
h5.md-focus:before,
h6.md-focus:before {
  color: inherit;
  border: inherit;
  border-radius: inherit;
  position: inherit;
  left: initial;
  float: none;
  top: initial;
  font-size: inherit;
  padding-left: inherit;
  padding-right: inherit;
  vertical-align: inherit;
  font-weight: inherit;
  line-height: inherit;
}
table {
  line-height: 1.6rem;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
}
thead {
  /*background-color: #263238;*/
  background-color: #111;
  color: #f5f5f5;
  text-align: left;
  vertical-align: bottom;
}
td,
th {
  border-left: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  margin: 0;
  overflow: visible;
  padding: .5em 1em;
}
.md-toc-item {
  position: relative;
}
.md-toc-inner {
  width: 100%;
  display: inline-block;
}
a.md-toc-inner {
  color: #CCC;
}
.md-toc-h2 .md-toc-inner {
  padding-left: 2em;
  margin-left: 0;
}
.md-toc-h3 .md-toc-inner {
  padding-left: 4em;
  margin-left: 0;
}
.md-toc-h4 .md-toc-inner {
  padding-left: 6em;
  margin-left: 0;
}
.md-toc-h5 .md-toc-inner {
  padding-left: 8em;
  margin-left: 0;
}
.md-toc-h6 .md-toc-inner {
  padding-left: 10em;
  margin-left: 0;
}
#write > table {
  width: 100%;
}
#write > h1,
#write > [mdlike='h1'] {
  margin-left: -2ch;
}
#write > h2,
#write > [mdlike='h2'] {
  margin-left: -3ch;
}
#write > h3,
#write > [mdlike='h3'] {
  margin-left: -4ch;
}
#write > h4,
#write > [mdlike='h4'] {
  margin-left: -5ch;
}
#write > h5,
#write > [mdlike='h5'] {
  margin-left: -6ch;
}
#write > h6,
#write > [mdlike='h6'] {
  margin-left: -7ch;
}
#write p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#write h1,
#write h2,
#write h3,
#write h4,
#write h5,
#write h6,
#write [mdlike='h1'],
#write [mdlike='h2'],
#write [mdlike='h3'],
#write [mdlike='h4'],
#write [mdlike='h5'],
#write [mdlike='h6'] {
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}
@media (min-width: 800px) {
  .pin-outline #write {
    padding-left: 10ch;
    padding-right: 6ch;
  }

  #write {
    padding-left: 12ch;
    padding-right: 12ch;
  }
  #write > h6,
  #write > p [mdlike='h6'] {
    margin-left: -8ch;
  }
}
@media (max-width: 1200px) {
  .pin-outline #write {
    padding-left: 10ch;
    padding-right: 8ch;
  }

  .pin-outline #write > h1,
  .pin-outline #write > h2,
  .pin-outline #write > h3,
  .pin-outline #write > h4,
  .pin-outline #write > h5,
  .pin-outline #write > h6,
  .pin-outline #write > p [mdlike='h1'],
  .pin-outline #write > p [mdlike='h2'],
  .pin-outline #write > p [mdlike='h3'],
  .pin-outline #write > p [mdlike='h4'],
  .pin-outline #write > p [mdlike='h5'],
  .pin-outline #write > p [mdlike='h6'] {
    margin-left: 0;
  }
}
@media (max-width: 600px) {
  .pin-outline #write {
    padding-left: 4ch;
    padding-right: 4ch;
  }

  #write {
    padding-left: 4ch;
    padding-right: 4ch;
  }
  #write > h1,
  #write > h2,
  #write > h3,
  #write > h4,
  #write > h5,
  #write > h6,
  #write > p [mdlike='h1'],
  #write > p [mdlike='h2'],
  #write > p [mdlike='h3'],
  #write > p [mdlike='h4'],
  #write > p [mdlike='h5'],
  #write > p [mdlike='h6'] {
    margin-left: 0;
  }
}
ul[cid] {
  list-style-type: none;
}
ul[cid] li:before {
  content: "*";
  margin-left: -3ch;
  position: absolute;
  color: #6C930A;
}
ul[data-mark="-"] > li:before {
  content: "-";
}
ul[data-mark="+"] > li:before {
  content: "+";
}
.task-list > li:before {
  margin-left: -6ch;
}
ol[cid] {
  counter-reset: item;
  list-style-type: none;
}
ol[cid] > li:before {
  content: counter(item) ". ";
  counter-increment: item;
  color: #6C930A;
  /*margin-left: -2ch;*/
  margin-left: -4ch;
  position: absolute;
}
.task-list-item input:before {
  content: '[ ]';
  display: inline-block;
  margin-left: -4ch;
  width: 4ch;
  position: absolute;
  top: -1px;
  vertical-align: middle;
  text-align: center;
  background-color: #222;
  color: #6C930A;
}
.task-list-item input:checked:before {
  content: '[x]';
}
.task-list-item input:checked ~ * {
  text-decoration: line-through;
}
blockquote {
  background-color: rgba(128, 128, 128, 0.05);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 20px;
  border-left: 8px solid #333;
}
hr {
  position: relative;
  height: 20px;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  border: 0;
  margin-bottom: 20px;
}
hr:after {
  content: "--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  word-wrap: break-word;
}
/**
 * Code Fences
 */
.md-fences:not(.md-fences-with-lineon) .cm-s-inner {
  padding-left: 8px;
}
.CodeMirror.cm-s-inner {
  padding-top: 8px;
  border-radius: 3px;
  padding-bottom: 16px;
}
.CodeMirror.cm-s-inner .CodeMirror-gutters {
  /*background: #263238;*/
  background: #222;
  color: #537f7e;
  border: none;
}
.CodeMirror .CodeMirror-guttermarker,
.CodeMirror.cm-s-inner .CodeMirror-guttermarker,
.CodeMirror .CodeMirror-guttermarker-subtle,
.CodeMirror.cm-s-inner .CodeMirror-guttermarker-subtle,
.CodeMirror .CodeMirror-linenumber,
.CodeMirror.cm-s-inner .CodeMirror-linenumber {
  color: #537f7e;
}
.CodeMirror .CodeMirror-cursor,
.CodeMirror.cm-s-inner .CodeMirror-cursor {
  border-left: 1px solid #f8f8f0;
}
.CodeMirror div.CodeMirror-selected,
.CodeMirror.cm-s-inner div.CodeMirror-selected {
  background: rgba(255, 255, 255, 0.15);
}
.CodeMirror .CodeMirror-focused div.CodeMirror-selected,
.CodeMirror.cm-s-inner .CodeMirror-focused div.CodeMirror-selected {
  background: rgba(255, 255, 255, 0.1);
}
.CodeMirror .CodeMirror-line::selection,
.CodeMirror.cm-s-inner .CodeMirror-line::selection,
.CodeMirror .CodeMirror-line > span::selection,
.CodeMirror.cm-s-inner .CodeMirror-line > span::selection,
.CodeMirror .CodeMirror-line > span > span::selection,
.CodeMirror.cm-s-inner .CodeMirror-line > span > span::selection {
  background: rgba(255, 255, 255, 0.1);
}
.CodeMirror .CodeMirror-line::-moz-selection,
.CodeMirror.cm-s-inner .CodeMirror-line::-moz-selection,
.CodeMirror .CodeMirror-line > span::-moz-selection,
.CodeMirror.cm-s-inner .CodeMirror-line > span::-moz-selection,
.CodeMirror .CodeMirror-line > span > span::-moz-selection,
.CodeMirror.cm-s-inner .CodeMirror-line > span > span::-moz-selection {
  background: rgba(255, 255, 255, 0.1);
}
.CodeMirror .CodeMirror-activeline-background,
.CodeMirror.cm-s-inner .CodeMirror-activeline-background {
  background: rgba(0, 0, 0, 0);
}
.CodeMirror .cm-keyword,
.CodeMirror.cm-s-inner .cm-keyword {
  color: #c792ea;
}
.CodeMirror .cm-operator,
.CodeMirror.cm-s-inner .cm-operator {
  color: #e9eded;
}
.CodeMirror .cm-variable-2,
.CodeMirror.cm-s-inner .cm-variable-2 {
  color: #80CBC4;
}
.CodeMirror .cm-variable-3,
.CodeMirror.cm-s-inner .cm-variable-3 {
  color: #82B1FF;
}
.CodeMirror .cm-builtin,
.CodeMirror.cm-s-inner .cm-builtin {
  color: #DECB6B;
}
.CodeMirror .cm-atom,
.CodeMirror.cm-s-inner .cm-atom {
  color: #ceb6b8;
}
.CodeMirror .cm-number,
.CodeMirror.cm-s-inner .cm-number {
  color: #ceb6b8;
}
.CodeMirror .cm-def,
.CodeMirror.cm-s-inner .cm-def {
  color: #e9eded;
}
.CodeMirror .cm-string,
.CodeMirror.cm-s-inner .cm-string {
  color: #C3E88D;
}
.CodeMirror .cm-string-2,
.CodeMirror.cm-s-inner .cm-string-2 {
  color: #80CBC4;
}
.CodeMirror .cm-comment,
.CodeMirror.cm-s-inner .cm-comment {
  color: #546E7A;
}
.CodeMirror .cm-variable,
.CodeMirror.cm-s-inner .cm-variable {
  color: #ebebeb;
}
.CodeMirror .cm-tag,
.CodeMirror.cm-s-inner .cm-tag {
  color: #f76764;
}
.CodeMirror .cm-meta,
.CodeMirror.cm-s-inner .cm-meta {
  color: #DDD;
}
.CodeMirror .cm-attribute,
.CodeMirror.cm-s-inner .cm-attribute {
  color: #8888fd;
}
.CodeMirror .cm-property,
.CodeMirror.cm-s-inner .cm-property {
  color: #ebebeb;
}
.CodeMirror .cm-qualifier,
.CodeMirror.cm-s-inner .cm-qualifier {
  color: #DECB6B;
}
.CodeMirror .cm-variable-3,
.CodeMirror.cm-s-inner .cm-variable-3 {
  color: #DECB6B;
}
.CodeMirror .cm-tag,
.CodeMirror.cm-s-inner .cm-tag {
  color: #ff5370;
}
.CodeMirror .cm-header,
.CodeMirror.cm-s-inner .cm-header,
.CodeMirror .cm-header,
.CodeMirror.cm-s-inner .cm-header {
  color: #b6e6ff;
}
.CodeMirror .cm-error,
.CodeMirror.cm-s-inner .cm-error {
  color: #ffffff;
  background-color: #EC5F67;
}
.CodeMirror .cm-link,
.CodeMirror.cm-s-inner .cm-link {
  color: #B2B2E0;
}
.cm-s-inner {
  /*background-color: #263238;*/
  background-color: #222;
  color: #e9eded;
}
.cm-s-inner .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}
/**apply to code fences with plan text**/
.md-fences {
  /*代码块背景*/
  /*background: #263238;*/
  background: #222;
  /*代码颜色*/
  color: #e9eded;
  border: none;
  overflow-x: visible;
  white-space: pre;
  border-radius: 3px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.md-fences .CodeMirror.cm-s-inner:before {
  content: "``` " attr(lang);
}
.md-fences .CodeMirror-scroll:after {
  content: " ";
}
.md-fences .CodeMirror.cm-s-inner:after {
  content: "```";
  bottom: 0;
  z-index: 99;
}
.md-fences .code-tooltip {
  /*background-color: #263238;*/
  background-color: #222;
}
/**
 * Inline Elements
 */
code {
  color: #caca16;
  font-size: 0.9em;
}
mark {
  background: bisque;
}
strong {
  color: #ffffc5;
}
em {
  color: #9874B7;
}
a {
  /*color: #A73172;*/
  color: #C4679A;
}
#write a:hover {
  /*background-color: #2a6496;*/
  background-color: #A73172;
  color: white;
  text-decoration: none;
}
.md-meta,
.md-content {
  display: inline;
}
#typora-source .cm-header {
  font-weight: bold;
  font-family: "PT Mono", monospace;
  color: #dbdbfd;
  font-size: 1rem;
  line-height: 1rem;
}
#typora-source .cm-strong {
  color: #ffffc5;
}
#typora-source .cm-em {
  color: #9874B7;
}
#typora-source .cm-link {
  color: #A73172;
  color: #C4679A;
}
#typora-source .cm-string {
  color: #5b808d;
}
#typora-source .cm-comment {
  color: #caca16;
}
/*
 * Electron UI
 */
.outline-item:hover {
  background-color: #333;
  color: white;
  border-color: #333;
}
#write div.md-toc-tooltip {
  background-color: #222;
}
.btn,
.btn .btn-default {
  background: transparent;
  color: #b8bfc6;
}
.md-table-edit {
  border-top: 1px solid gray;
  background-color: #363B40;
}
.popover-title {
  background: transparent;
}
.context-menu {
  border-radius: 0;
}
.context-menu.dropdown-menu > li > a:hover,
.context-menu.dropdown-menu > li > a:focus {
  background-color: inherit;
}
.context-menu.dropdown-menu .divider {
  background-color: #777777;
}
.btn {
  color: #fff;
  letter-spacing: 1px;
  text-decoration: none;
  white-space: nowrap;
  background-color: #444449;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
}
.btn:hover,
.btn:focus,
#footer-word-count:hover,
.show-word-count #footer-word-count,
.mouse-entered .footer-btn:hover {
  color: #fff;
  border-color: #777;
  background-color: #777;
  outline: 0;
}
#outline-btn,
#outline-btn:hover .ion-android-radio-button-on {
  color: white;
}
.btn.btn-primary {
  color: #FFF;
  background-color: #777;
  border-color: #777;
}
.btn.btn-primary:hover {
  color: #FFF;
  background-color: #428bca;
  border-color: #428bca;
}
.mouse-entered #top-titlebar .toolbar-icon.btn:hover {
  background-color: #777777;
  color: #f5f5f5;
}
#md-searchpanel,
#md-notification {
  left: 0;
}
#md-searchpanel,
#md-notification,
.on-search-panel-open header,
.modal-content,
.popover,
.dropdown-menu,
.megamenu-menu,
#outline-dropmenu,
.typora-node #outline-dropmenu {
  background-color: #42464A;
}
.popover.bottom > .arrow:after {
  border-bottom-color: #42464A;
}
#md-notification {
  color: #ddd;
}
.typora-node #outline-dropmenu {
  border-right: 1px solid #555;
}
.info-panel-tab.active,
.info-panel-tab.active:hover,
.info-panel-tab:hover {
  color: #ddd;
}
.menu-style-btn.active,
.context-menu.dropdown-menu > .active > a,
.context-menu.dropdown-menu > li > a:hover {
  background-color: #777777;
  color: white;
}
.form-control:focus {
  color: #999;
}
.input-group-addon {
  padding-right: 16px;
}
input,
input.form-control {
  border-radius: 0;
  background-color: transparent;
  border: 1px solid #ccc;
  color: inherit;
}
.dropdown-menu .menu-item-container a.menu-style-btn:not(.menu-style-btn-2width) {
  width: calc(25% - 2.5px);
}
#w-unpin {
  color: #222;
}
.dropdown-menu .divider {
  background-color: #999;
}
#footer-word-count-info {
  bottom: 28px;
}
#megamenu-content,
.megamenu-opened header {
  background-color: #222;
  background: #222;
}
.md-expand.md-image > .md-meta {
  background-color: rgba(219, 219, 219, 0.86);
}
@media (min-width: 1111px) {
  .ty-footer {
    background-color: inherit;
  }
}

.md-image>.md-meta {
  color: #b5adcd;
  background-color: rgba(190, 190, 190, 0.37);
}

.md-expand.md-image > .md-meta {
  color: #5f5b6c;
}

#typora-sidebar {
  background: transparent;
}

.html-for-mac #typora-sidebar {
  border-right: none;
}

content,
titlebar {
  background: var(--bg-color);
}

.sidebar-footer {
  background: #222;
  border-top: 1px transparent solid;
}

.file-list-item,
.sidebar-tabs {
  border-top: none;
  border-bottom: none;
}

.ty-side-sort-btn.active {
  background: var(--bg-color);
}

.file-node-content:hover {
  color: white;
}

.md-task-list-item>input {
  margin-top: calc(1rem - 12px);
}

/*高亮颜色*/
/*
mark {
  background: #a9d18e;
  border-bottom: 0px solid #ffffff;
  padding: 0.0px;
  margin: 0 0px;
}
*/