/*
 * This CSS file has been generated and is served by Persona.co
 * and is authorized to be used on Persona only. 
 *
 * This CSS resource incorporates links to font software which is 
 * the valuable copyrighted property of WebType LLC, The Font Bureau 
 * and/or their suppliers. You may not 
 * attempt to copy, install, redistribute, convert, modify or reverse 
 * engineer this font software. Please contact WebType with any 
 * questions: http://www.webtype.com 
 */

@font-face {
  font-family: "Nitti Grotesk";
  src: url("https://type.persona.co/NittiGrotesk/b81086a2-5ae3-4417-b202-2f3527621478-3.woff?Expires=1622451779&Signature=RwvB8lJS47eql9rBJXdoB7X3uNU-WxIKrOwAMSWN4ybIepcgAni6zCrdtpstqaz74hYlOPu6iQxFdAVibZIxU3Q~~iczwYSdpIlZgE~KCym5tKWnC2hMlp6cVBbMsrHYozMNhAXwBRmGvU-kXja4s3hMCil9CY2By9K4JoJ0CWC7GnpLFXZFYCZwLyCQAoKorLnL-hkPEjrmpO8My-Rw4MJ6ybj1mnKWCySrbIbWsKRv2qw0xgaaXHr6KhgBEiFURrinSB1qGwWMFs36hb0a~WPNUozOq67Ou6URAYIPl4h~RsbBlYIJT9WN02ILugFsHVdouKqTXWR-fxh1zMn7gA__&Key-Pair-Id=APKAJF6QV4IIZQBZN32Q") format("woff");
  font-style: normal;
  font-weight: normal;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}
@font-face {
  font-family: "Nitti Grotesk";
  src: url("https://type.persona.co/NittiGrotesk/9e25d42f-61ef-423a-8b97-a5e39285554a-3.woff?Expires=1622451779&Signature=phDd110SqdxEfoPaBpqS6T6d-k04utHyS83TYKWPCcvVVlPKkH382IdChlMnWS~hNgNs3RfierEXHpDiNZrGn~cjanp2utO~7qSc5aRlgydhC9FZNA0NV34BunCCyo1SXEr6qPRPEXFV6OtQLU9gAHfZ2wubfG8nqJHv53aHZZUh15fr56aruCUQvU6ju4WtsluKMd4bd2MUUKSeBQcDmAh7~GQLSIOJl4u3DKprN0z723n9KS1ZTKGaCmeiVLaJ1SMc~7zrEBYtmQAr-3Al4lkdiLB3bR91qkV6NP2B5qbvOEsLRcumbPg7nnu9McWFEPl6R7RYN~BrzTh83iMFsg__&Key-Pair-Id=APKAJF6QV4IIZQBZN32Q") format("woff");
  font-style: italic;
  font-weight: normal;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}
@font-face {
  font-family: "Nitti Grotesk";
  src: url("https://type.persona.co/NittiGrotesk/52af5be8-4bb6-43ad-b99d-a62836aab6f4-3.woff?Expires=1622451779&Signature=E1O9Jd6tZxEZmXy-NSBoWm~ZPy-V9gKUylufeNnda-b~K3q4LR6gRLmjchXunvBukn4omOhJpeM0Xotp5w5D11i4ZQ3ZgVKux0uaBJ3bSgsQ9K5~a9PLWfjpRYL-s8p8X9c51Z0aKua-I1ecziWbWKEexX7dICpGy4wQQ9EB7yuYGUH7Fuu2Rq-eUDgF4ktsHyIFcsR4yQaUeu2OPEoVmZC4c80w1K~uuuqBNac-EyFMhoLE9t72AxSbbBg7FHEk7wEzZS6473X6KKeNzdklTACSd0mrgxWt8yTfbkFtYA7TinJby7WbNpziCa~tULFQyxV6EIt0cRwMxnxC-iiutw__&Key-Pair-Id=APKAJF6QV4IIZQBZN32Q") format("woff");
  font-style: normal;
  font-weight: bold;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}
@font-face {
  font-family: "Nitti Grotesk";
  src: url("https://type.persona.co/NittiGrotesk/4b969e7d-9f44-4ba1-95fe-728c6cf792bd-3.woff?Expires=1622451779&Signature=LPbrOsBH7Or1IaiVYXjbRavk-TLgx9cuiOW9Qt4DJiPRom-iocI1d-UMS~anPIplykGUIaoyApILs-Yb09dUkn-HFHP6aaOnGwYu~fZbofpCiyToZ~frFb2uQ~qC7nm8CgLBITbNJ-a1Ep2yARYdHxNO61brx-KRuBenwltsGtqg7fRLntgoCtx7q2QKQT13VooyminmsH4S-1WX~ZWSKtUqd-gZI0K-02XTybmxV7uHuyUfdepOZjvV7IdnpYY4-KbN2BPzJ2Do5Iwh3q0bGh0upyMO73CCy~S1IWWQUJyETzJDoU8QZIovsUnMVKsymcbeFH4ifKb16GzTiXc1Iw__&Key-Pair-Id=APKAJF6QV4IIZQBZN32Q") format("woff");
  font-style: italic;
  font-weight: bold;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}
@font-face {
  font-family: "Nitti";
  src: url("https://type.persona.co/Nitti/150d43a6-939b-4bb0-82b2-bfd5ef995055-3.woff?Expires=1622451779&Signature=JsguGVBouHeoypIhhbEOHI2PauoGKerwIecjIhPBpKdAKmBxQYRqkbrdrlXvcYW202YIUE1~82Z3V6snVoV6f9dJ~m8dMJxu-jAa5V-4Jb7Xk2anxbG9TgQG03SBPKQuOxi-X~Jzk7VHgMTgUbxWVNKGO8HOYg9kNgzKIDmDmu8dTEct7UpVob577PG5yoy9hOJbD7mPH1tVZKsFx7qCcQq5G-k0O3tjU2qVUQaY5GVlbkEa~4AhSO2TbBVsam~r5AinkuwasGF8OahDSwPjVu9nTWaWQ-65mPoiFkYMOL~ofHfpm4rY~-gH66NfXSDOFUCUNR6~h-UnMXhT8E~QQQ__&Key-Pair-Id=APKAJF6QV4IIZQBZN32Q") format("woff");
  font-style: normal;
  font-weight: normal;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}
@font-face {
  font-family: "Nitti";
  src: url("https://type.persona.co/Nitti/d4f5d775-4827-410c-a163-c40d9b0d2ecb-3.woff?Expires=1622451779&Signature=QfhN2EIjA0uPXk2XAmI1~grJTyr1Ql4foB7ks6NBuwUd00KohkKIZDLiNJQifZYX9qbY7W1fTVSg3lZCBZ3T-MDvDKVezOC1HhNYiKcVTz2yfUpjNYWigbEZKZXnrDueOkeAL-i1L4q5dOgUYHCDXfqsza0h2OlVivGikq5OcGYADg0~rqEuOeyc8Qr6vVSk4RvXMai80t4R96VhPxbG4AFDfLEzAvguSpBLy4MSmw1Jd0zhOhVtK1SGiDD4I5OEbiMKByNkz5YAteU3MHoK7tmHbiEm02KYIw7shOxIRl1K42a-B2Nv8TRAR6Qc2Ep8-DNMEIaRHChs9nTxyKYqfg__&Key-Pair-Id=APKAJF6QV4IIZQBZN32Q") format("woff");
  font-style: italic;
  font-weight: normal;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}
@font-face {
  font-family: "Nitti";
  src: url("https://type.persona.co/Nitti/001dd084-ca7d-4947-a286-c03c01a8852c-3.woff?Expires=1622451779&Signature=pkeECvfgGpY6qc5HHFBINoV07AqNVQ-iXNZn9zd9Phkb~pSAr1SWbM4Nnr6~f53GwzJ8y21cHD2jeltSPIBhKY72~Wu8TUMlF6XCYeJq0fBEUABd8dKehgn-H5I3qEYI51LDSOF6ncvTm3rMPiFENp~e2uOG0uH0FOAahUYdJT4Z~L1QirMnzt0RBqSn6RDCZ-i6DZsrohWwlbCA7x6URAYcAf2yhPbi5AUEQKdS-EUd2Y1NhF2Uuw2eYwqZbSDOy0b0gogzSQHe8QKF6EnRjxwexEHbAD4dy3ysmD4NxqDbok5dP5n~6qpZbmyUt-opNvGqJIYMyAINi-TFn4b01Q__&Key-Pair-Id=APKAJF6QV4IIZQBZN32Q") format("woff");
  font-style: normal;
  font-weight: bold;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}
@font-face {
  font-family: "Nitti";
  src: url("https://type.persona.co/Nitti/9ff8f975-f65d-41cb-a61d-000bfbb0869f-3.woff?Expires=1622451779&Signature=Q9RNLOq0nS1L21FS6pmYS-WdLWJ177kQsac12kaR0tNXn42uVTN8EQ7367k-nN6ieP7aR5F918kb9pwKwdm3dtmt2Br53bN3tCdeHBjcrelW-ZxgtQCzAyk2YsndPeUokVym8n65405xvi-NOL0fWiwqIacKtpBA0h0QwhmjZioSyzDLlyb6Vu3fa4rKRshMM8RPur5mfRk767BT5f8OdCwqR3R-8epUSf7zaIgIg12tsr4i0tqBywetGuKhxBKS1WUL7Mx0IoVAvkHCTEyc8~S7Y-Rf2Wq9EIioKUhF3cXGJZlNsbCIp1wWXJuM7ti4M2f9cYa~U7X~DcJ4F1acWA__&Key-Pair-Id=APKAJF6QV4IIZQBZN32Q") format("woff");
  font-style: italic;
  font-weight: bold;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}
