/*
 * This CSS file has been generated and is served by Persona.co
 * and is authorized to be used on Persona only. 
 *
 * This CSS resource incorporates links to font software which is 
 * the valuable copyrighted property of WebType LLC, The Font Bureau 
 * and/or their suppliers. You may not 
 * attempt to copy, install, redistribute, convert, modify or reverse 
 * engineer this font software. Please contact WebType with any 
 * questions: http://www.webtype.com 
 */

@font-face {
  font-family: "Nitti Grotesk";
  src: url("https://type.persona.co/NittiGrotesk/b81086a2-5ae3-4417-b202-2f3527621478-3.woff?Expires=1622451769&Signature=qzWxZ7OWHwPNouB3vGeMfPx9yO2UAsfzf4fTm9XfFzh1L-o6uz2su8Za3bNQwvnQwH9zXnitw61EZ5w8VgE8toH3Emd~NVqbIH57rmG2k1-mT1NooVje6~WXux0ioazb5hWI0bvOaJgGgRh-BdDSOU3VfreooKGsqNfGYNd0CoU-KdF0K3klT35yo1ki~GZ3JHi1yN7QcMRhmM6WHbG5pxxdgJZORhcMQrH4S6IxgBXXbpZkZrTYiU-PlhO3RhFU4l64FVMU~e4axAwBSO8OeIM9gsro~P8df~din1Im8IYYzXaeA~yvjNcxX2jHdkgOY-tidAl6bNGpOrs90TkMcw__&Key-Pair-Id=APKAJF6QV4IIZQBZN32Q") format("woff");
  font-style: normal;
  font-weight: normal;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}
@font-face {
  font-family: "Nitti Grotesk";
  src: url("https://type.persona.co/NittiGrotesk/52af5be8-4bb6-43ad-b99d-a62836aab6f4-3.woff?Expires=1622451769&Signature=jdZsXMv-3yNrZ-qNTNbbpjErhPJRzYQ5mTrcKiKiiXO4SMmVo76GRzs9obeaZlYdQuaULX2ldAvhzlIxVXf3WlHb25frF-hhpj~BQhqUKejXfKl92sOKW3Q5EI~pTGGpMunr69iWGS5b0kfEjkQCbtX56ATupiIC8JZht2hzbSfezz4ENZrqwhPdPZ~0Fm2PX0RlD8H5nW4XYj45D6ujh7qaZIq6tYaMQfusOZUg~-1o8YpOu95gdfO1hgOPEhZa3nxxdg4y3EfEM6GrelNPK-WidrjwZrQh2xKz08OSxaKqMxSpN1EVBb9~2nbwiU~eufektLKRV2xZr7QGZnC3Vw__&Key-Pair-Id=APKAJF6QV4IIZQBZN32Q") format("woff");
  font-style: normal;
  font-weight: bold;
  unicode-range: U+0000-DFFF, U+F900-FFFD;
}
