/**
 * Resets
 */

 /* red */
 /* color: rgba(164, 22, 22, 0.9); */

 /* blue */


* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

::-moz-selection {
	background-color: #000;
	color: rgba(164, 22, 22, 0.9);
}

::selection {
	background-color: #000;
	color: rgba(164, 22, 22, 0.9);
}

:focus {
	outline: 0;
}

customhtml > * {
	position: relative;
    z-index: 10;
}

/**
 * Global
 */

body,
html {
	min-height: 100vh;
	margin: 0px;
	padding: 0px;
}

html {
	position: relative;
}

body {
	/* background: #333; */
	/* color: #000; */
}

a:active {
	opacity: 0.7;
}

/**
 * Backdrop
 */

#backdrop {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	max-width: 100%;
	z-index: 1;
}

/**
 * Container
 */

main {
	background: #fff;
	clear: both;
	overflow: hidden;
	position: absolute;
	max-width: 100%;
	width: 100%;
	z-index: 2;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

main > div {
	-moz-flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	flex: 1 0 auto;
	width: 100%;
}


.subpage_overlay {
	display: block;
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

body.homepage .subpage_overlay {
	display: none;
}
/**
 * Content
 */

i, em {
	font-style: italic;
}

b, strong {
	font-weight: bold;
}

ul, ol {
	margin: 0;
	padding: 0 0 0 1em;
}

sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}

sub {
	top: 0.3em;
	vertical-align: baseline;
	position: relative;
}

p {
	color: #fff;
}

.slideshow-nav { 
	margin-bottom: 0.5em; 
}

img {
	border: 0;
	padding: 0;
}

blockquote {
	margin: 0;
	padding: 0 0 0 2em;
}

hr {
	background: rgba(127, 127, 127, 0.2);
	border: 0;
	height: 0.08em;
	display: block;
}

.bodycopy {
	display: none;
}

.container {
	min-height: 100%;
}

.content img {
	float: none;
	margin-bottom: 1em;
}

.clear:after {
	content: "";
	display: table;
	clear: both;
}

.loading[data-loading] {
	display: none;
	position: fixed;
	top: 8px; left: 8px;
	z-index: 100;
}

/**
 * Editor styles
 */

[data-css-presets="true"] main {
	background-color: transparent/*!content_left*/;
	text-align: left /*!text_left*/;
	min-height: 100vh /*!content_stretch*/;
	-webkit-align-items: flex-start /*!vertical_top*/;
	align-items: flex-start /*!vertical_top*/;
	left: 0 /*!content_left*/;
}

[data-css-presets="true"] .content_padded {
	padding: 4rem/*!main_margin*/;
}

[data-css-presets="true"] .content_width {
	width: 60rem/*!content_left*/;
}

[data-css-presets="true"] #backdrop {
	width: 100% /*!background_cover*/;
}

[data-predefined-style="true"] main {
	font-size: 1.5rem;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.9);
	font-family: "Helvetica Neue", Helvetica, sans-serif, "Helvetica Roman", Social /*!System*/;
	font-style: normal;
	line-height: 1.2;
}

[data-predefined-style="true"] main a {
	color: rgba(255, 255, 255, 0.9);
    padding-bottom: 0.05em;
    border-bottom: 0em solid rgba(127, 127, 127, 0.2);
    text-decoration: none;
}

[data-predefined-style="true"] main a:hover {

}

main a.image-link,
main a.icon-link,
main a.image-link:hover,
main a.icon-link:hover {
	border-bottom: 0;
	padding-bottom: 0;
}

[data-predefined-style="true"] h1 {
	font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Helvetica Bold', Social /*!System*/;
	font-style: normal;
	font-weight: 700;
	padding: 0;
	margin: 0;
	font-size: 3.2rem;
	line-height: 1;
	color: rgba(164, 22, 22, 0.9);
	text-rendering: optimizeLegibility;
}

[data-predefined-style="true"] h1 a {
	color: rgba(0, 0, 0, 0.9);
}

[data-predefined-style="true"] h2 {
	font-family: 'Times New Roman', 'Times New Roman', Times, serif, 'Times New Roman', Social /*!System*/;
	font-style: normal;
	font-weight: 400;
	padding: 0;
	margin: 0;
	color: rgba(255, 255, 255, 0.9);
	font-size: 3.3rem;
	line-height: 1;
	text-rendering: optimizeLegibility;
}

[data-predefined-style="true"] h2 a {
	color: rgba(0, 0, 0, 0.9);
}

[data-predefined-style="true"] small {
    display: inline-block;
	font-size: 1.2rem;
	line-height: 1.2;
	font-family: 'Helvetica Neue', Helvetica, sans-serif, 'Helvetica Roman', Social /*!System*/;
	font-style: normal;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.9);
}

[data-predefined-style="true"] small a {
	/* color: rgba(255, 0, 0, 0.9); */
	color: aqua;
	border-bottom-width: 0em;
}


[data-css-presets="true"] .subpage_overlay {
	/* background-color: rgba(242, 0, 0, 0.4); */
	background-color: black;
}
/**
 * Backstage Icon
 */

#backstage_icon {
	display: block;
}

/**
 * Breakpoints
 */

[data-css-presets="true"].mobile #plugin,
[data-css-presets="true"].mobile #backdrop,
.mobile #backdrop,
.mobile #plugin {
	position: relative;
	height: 50vh;
	min-width: 100%;
	width: calc(100% - 80rem) /*!right_fit*/;
	top: 0;
	bottom: auto;
	left: 0 /*!right_fit*/;
}

.mobile main,
[data-css-presets="true"].mobile main {
	position: relative;
	min-height: 10px;
	max-width: 100%;
	width: 100%;
}

.mobile main.content_width,
[data-css-presets="true"].mobile main.content_width {
	max-width: 100%;
	width: 100%;
}

.img_back {
	background-image: url(../photos/wild-light/wild-light.jpg);
	background-position: center;
	/* background-position-x: left; */
	background-attachment: fixed;
	background-size: cover;
	/* background-size: auto; */
}

.white_back {
	background-color: #fff;
}

.red_back {
	background-color: rgba(164, 22, 22, 0.9);
}

.minimal {
	font-size: 0.7em;
}
.text_red {
	color: rgba(164, 22, 22, 0.9);;
}