<footer>
	<hr>
	{{- range $index, $key := .Site.Params.Social -}}
	<a class="soc" href="{{ $key.url }}" title="{{ $key.name }}"><i data-feather="{{ $key.icon }}"></i></a>|
	{{- end -}}
	{{ dateFormat "2006" now }} {{ with .Site.Copyright }} {{ . }} | {{ end }} <a
		href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
</footer>
{{ if not .Site.IsServer }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}

{{- if (isset .Site.Params "social") -}}
<script>
	feather.replace()
</script>
{{- end -}}
