@import url("/type/css?family=NittiGrotesk:n7,n4");


/* Social / Icon Font  */
@font-face {
    font-family: 'Social';
    src: url('//payload.persona.co/assets/social/SSSocial-Regular-1.9.woff?content');
    unicode-range: U+E000-E12E;
}
@font-face {
	font-family: 'Social';
    src: url('//payload.persona.co/assets/social/SSSocial-Regular-1.9.woff?content');
	font-weight: 200;
	unicode-range: U+E000-E12E;
}
@font-face {
	font-family: 'Social';
    src: url('//payload.persona.co/assets/social/SSSocial-Regular-1.9.woff?content');
	unicode-range: U+E000-E12E;
	font-weight: 400;
}
@font-face {
	font-family: 'Social';
    src: url('//payload.persona.co/assets/social/SSSocial-Regular-1.9.woff?content');
	unicode-range: U+E000-E12E;
	font-weight: 600;
}
@font-face {
	font-family: 'Social';
    src: url('//payload.persona.co/assets/social/SSSocial-Regular-1.9.woff?content');
	unicode-range: U+E000-E12E;
	font-weight: 800;
}
@font-face {
	font-family: 'Social';
    src: url('//payload.persona.co/assets/social/SSSocial-Regular-1.9.woff?content');
	unicode-range: U+E000-E12E;
	font-style: italic;
}
@font-face {
    font-family: 'Social';
    src: url('//payload.persona.co/assets/social/SSSocial-Regular-1.9.woff?content');
    unicode-range: U+E000-E12E;
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Social';
    src: url('//payload.persona.co/assets/social/SSSocial-Regular-1.9.woff?content');
    unicode-range: U+E000-E12E;
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Social';
    src: url('//payload.persona.co/assets/social/SSSocial-Regular-1.9.woff?content');
    unicode-range: U+E000-E12E;
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Social';
    src: url('//payload.persona.co/assets/social/SSSocial-Regular-1.9.woff?content');
    unicode-range: U+E000-E12E;
    font-weight: 800;
    font-style: italic;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}

/*!
 * Content
 */

#content {
    word-wrap: break-word;
}

[data-content-ruler] {
    max-width: 100%;
}

/* Strikethru */
s * {
    text-transform: inherit;
}

/**
 * Backstage & Private Persona Icons
 */

#backstage_icon {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    background-position: 0 0;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    border-radius: 3px;
    background-color: rgba(0,0,0,.4);
    height: 41px;
    width: 41px;
    border-radius: 0;
}

#backstage_icon a {
    background-color: transparent;
	width: 100%;
	height: 100%;
	display: block;
    background-image: url(/_gfx/toolset-bolt.svg);
    text-decoration: none;
    border: 0;
}

#backstage_icon.noclick,  #backstage_icon.noclick a {
    pointer-events: none;
}

#backstage_icon:active {
	opacity: .7;
}

#backstage_icon.hidden {
    display: none !important;
}

#private_persona {
    margin-top: 1px;
    background-color: rgba(0,0,0,.2);
    height: 41px;
    width: 41px;
    border-radius: 0;
    position: fixed;
    right: 0;
    top: 41px;
    z-index: 9;
}

body[data-adminview] #private_persona {
    display: none;
}

#private_persona div {
    height: 100%;
    background-image: url(/_gfx/lock.svg);
    text-decoration: none;
    border: 0;
    background-repeat: no-repeat;
    background-position: 15.5px 11px;
}

/**
 * Backstage & Private Persona Icons
 */

#backstage-container {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#backstage-container iframe {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#backstage-container-overlap {
    position: fixed;
    height: 100%;
    width: 50px;
    background: purple;
    right: -48px;
    z-index: -2;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    background: #212121;
}

/**
 * Slick
 */

/* Slider */
.slick-slider {
    position: relative;
    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

main .slick-slide img {
    display: inline-block;
    cursor: pointer;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}



/***
 * Loading Pulse
***/
.loading_animation {
    display: none;
    vertical-align: middle;
    z-index: 15;
    line-height: 0;
    pointer-events: none;
    border-radius: 100%;
}

.loading_animation.pulsing {
    /* animation starts at 0 opacity*/
    opacity: 0;
    display: inline-block;
    /* wait 100ms for animation to start*/
    animation-delay: .1s;
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    /* 500ms fadein */
    animation: fade-pulse-in .5s ease-in-out;
    -moz-animation: fade-pulse-in .5s ease-in-out;
    -webkit-animation: fade-pulse-in .5s ease-in-out;
    /* Keep the 100% opacity */
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
}

.loading_animation.pulsing.no-delay {
    /* override to no delay*/
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
}

.loading_animation div {
    border-radius: 100%;
    background: #ccc;
    width: 20px;
    height: 20px;
}

.loading_animation div {
    /* wait for the fadein to finish*/
    animation-delay: .7s;
    -webkit-animation-delay: .7s;
    -moz-animation-delay: .7s;
    /* cycle through pulsate animation */
    -webkit-animation: pulsate 1400ms ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: pulsate 1400ms ease-out;
    -moz-animation-iteration-count: infinite;
    animation: pulsate 1400ms ease-out;
    animation-iteration-count: infinite;
}

.loading_animation.pulsing.no-delay div {
    /* less delay when no delay on fading in*/
    animation-delay: .5s;
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
}

.loading_animation.hidden {
	display: none;
}

.loading_animation.position-absolute.middle {
    top: calc(50% - 10px);
    left: calc(50% - 10px);
}

.loading_animation.gray div {
    background: #999;
}
.loading_animation.gray-light div {
    background: #ccc;
}
.loading_animation.white div {
    background: #fff;
}
.loading_animation.blue div {
    background: #09f;
}

.loading_animation.inline {
    display: inline-block;
    margin-bottom: .5ex;
}

.loading_animation.inline.left {
    margin-right: .5ex;
}

.loading_animation.backdrop {
	position: absolute;
	top: 8px;
	left: 8px;
	z-index: 9999999999;
}

/* Fade-pulse-in animation */
@-webkit-keyframes fade-pulse-in {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1.0;}
}
@-moz-keyframes fade-pulse-in {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1.0;}
}
@keyframes fade-pulse-in {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1.0;}
}

/* pulsing animation */
@-webkit-keyframes pulsate {
    0% {opacity: 1.0;}
    50% {opacity: 0;}
    100% {opacity: 1.0;}
}
@-moz-keyframes pulsate {
    0% {opacity: 1.0;}
    50% {opacity: 0;}
    100% {opacity: 1.0;}
}
@keyframes pulsate {
    0% {opacity: 1.0;}
    50% {opacity: 0;}
    100% {opacity: 1.0;}
}

/**
 * Grid / Columns
 */

[grid-row] {
    box-sizing: border-box;

    display: -webkit-box; display:
    -webkit-flex; display:
    -ms-flexbox; display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

[grid-col] {
    box-sizing: border-box;
}

[grid-row].editing [grid-col] {
    outline: 1px dashed rgba(0, 153, 255, 0.5);
}

[grid-row] [grid-col].empty:after {
    content: "\0000A0";
    cursor: text;
}

[grid-col="auto"] {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

[grid-col="x12"] { width: 100%; }
[grid-col="x11"] { width: 50%; }
[grid-col="x10"] { width: 33.33%; }
[grid-col="x9"] { width: 25%; }
[grid-col="x8"] { width: 20%; }
[grid-col="x7"] { width: 16.666666667%; }
[grid-col="x6"] { width: 14.285714286%; }
[grid-col="x5"] { width: 12.5%; }
[grid-col="x4"] { width: 11.111111111%; }
[grid-col="x3"] { width: 10%; }
[grid-col="x2"] { width: 9.090909091%; }
[grid-col="x1"] { width: 8.333333333%; }

[grid-col="1"] { width: 8.33333%; }
[grid-col="2"] { width: 16.66667%; }
[grid-col="3"] { width: 25%; }
[grid-col="4"] { width: 33.33333%; }
[grid-col="5"] { width: 41.66667%; }
[grid-col="6"] { width: 50%; }
[grid-col="7"] { width: 58.33333%; }
[grid-col="8"] { width: 66.66667%; }
[grid-col="9"] { width: 75%; }
[grid-col="10"] { width: 83.33333%; }
[grid-col="11"] { width: 91.66667%; }
[grid-col="12"] { width: 100%; }

@media (max-width: 40em) {
    [grid-responsive] [grid-col] {
        width: 100%;
        -webkit-box-flex: none;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
    }
}

[grid-pad="0"] { padding: 0; }
[grid-pad="1"] { padding: 0.5rem; }
[grid-pad="2"] { padding: 1rem; }
[grid-pad="3"] { padding: 2rem; }
[grid-pad="4"] { padding: 4rem; }

[grid-gutter="2"] {
  margin-left: -1rem;
  margin-right: -1rem;
}

    [grid-row]+[grid-gutter="2"] { margin-top: -1rem;}

[grid-gutter="4"] {
  margin-left: -2rem;
  margin-right: -2rem;
}

    [grid-row]+[grid-gutter="4"] { margin-top: -2rem; }

[grid-gutter="6"] {
  margin-left: -4rem;
  margin-right: -4rem;
}

    [grid-row]+[grid-gutter="6"] { margin-top: -4rem; }

[grid-gutter="8"] {
  margin-left: -8rem;
  margin-right: -8rem;
}

    [grid-row]+[grid-gutter="8"] { margin-top: -8rem; }

/*
    commented out for now because it prevents the cursor from rendering in an empty editor
 */

/*.clearfix:not(.empty-editor):after {
    content: '';
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}*/

/* Fix for small tag inside of flex elements */
small {
    max-width: 100%;
}


img[src=''], 
img:not([src]) {
    visibility: hidden;
}

/**
 * lightbox
 */

/*! PhotoSwipe Default UI CSS by Dmitry Semenov | photoswipe.com | MIT license */.pswp--has_mouse .pswp__button--arrow--left,.pswp--has_mouse .pswp__button--arrow--right,.pswp__ui{visibility:visible}.pswp,.pswp__bg,.pswp__container,.pswp__custom_nav,.pswp__img--placeholder,.pswp__zoom-wrap{-webkit-backface-visibility:hidden}.pswp__button{width:44px;height:44px;position:relative;background:0 0;cursor:pointer;overflow:visible;-webkit-appearance:none;display:block;border:0;padding:0;margin:0;opacity:1;-webkit-transition:opacity .2s;transition:opacity .2s;-webkit-box-shadow:none;box-shadow:none}.pswp,.pswp__item,.pswp__scroll-wrap{overflow:hidden}.pswp__button--close{background-position:0 -44px}.pswp__button--share{background-position:-44px -44px}.pswp__button--fs{display:none}.pswp--supports-fs .pswp__button--fs{display:block}.pswp--fs .pswp__button--fs{background-position:-44px 0}.pswp__button--zoom{display:none;background-position:-88px 0}.pswp--zoom-allowed .pswp__button--zoom{display:block}.pswp--zoomed-in .pswp__button--zoom{background-position:-132px 0}.pswp--touch .pswp__custom_nav{display:none}.pswp__ui{-webkit-font-smoothing:auto;opacity:1;z-index:1550}.pswp__custom_nav{will-change:opacity;-webkit-transition:opacity 333ms cubic-bezier(.4,0,.22,1);transition:opacity 333ms cubic-bezier(.4,0,.22,1);position:absolute;bottom:20px;margin-left:50%;transform:translateX(-50%);font-size:0}.pswp__custom_nav .pswp__group .pswp__button{display:inline-block;float:none;pointer-events:auto;width:40px;height:32px;background:#fff;cursor:pointer;margin-right:1px;font-size:12px;position:relative}.pswp,.pswp__bg,.pswp__scroll-wrap{height:100%;width:100%;top:0;left:0}.pswp,.pswp__bg,.pswp__container,.pswp__error-msg,.pswp__img,.pswp__item,.pswp__scroll-wrap,.pswp__zoom-wrap{position:absolute}.pswp__custom_nav .pswp__group .pswp__button svg{position:absolute;left:0;top:0;right:0;bottom:0;margin:auto;opacity:.5}.pswp__custom_nav .pswp__group .pswp__button:hover svg{opacity:1}.pswp__custom_nav .pswp__group .pswp__button:first-child{-webkit-border-top-left-radius:3px;-webkit-border-bottom-left-radius:3px;-moz-border-radius-topleft:3px;-moz-border-radius-bottomleft:3px;border-top-left-radius:3px;border-bottom-left-radius:3px}.pswp__custom_nav .pswp__group .pswp__button:last-child{-webkit-border-top-right-radius:3px;-webkit-border-bottom-right-radius:3px;-moz-border-radius-topright:3px;-moz-border-radius-bottomright:3px;border-top-right-radius:3px;border-bottom-right-radius:3px}.pswp__ui--idle.pswp__custom_nav{opacity:0}.pswp__element--disabled{display:none!important}.pswp--minimal--dark .pswp__top-bar{background:0 0}/*! PhotoSwipe main CSS by Dmitry Semenov | photoswipe.com | MIT license */.pswp{display:none;-ms-touch-action:none;touch-action:none;z-index:1500;-webkit-text-size-adjust:100%;outline:0}.pswp *{-webkit-box-sizing:border-box;box-sizing:border-box}.pswp img{max-width:none}.pswp--animate_opacity{opacity:.001;will-change:opacity;-webkit-transition:opacity 333ms cubic-bezier(.4,0,.22,1);transition:opacity 333ms cubic-bezier(.4,0,.22,1)}.pswp--open{display:block}.pswp--zoom-allowed .pswp__img{cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in}.pswp--zoomed-in .pswp__img{cursor:-webkit-grab;cursor:-moz-grab;cursor:grab}.pswp--dragging .pswp__img{cursor:-webkit-grabbing;cursor:-moz-grabbing;cursor:grabbing}.pswp__bg{background:#000;opacity:0;transform:translateZ(0);will-change:opacity}.pswp__container,.pswp__zoom-wrap{-ms-touch-action:none;touch-action:none;left:0;right:0;top:0;bottom:0}.pswp__container,.pswp__img{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none}.pswp__zoom-wrap{width:100%;-webkit-transform-origin:left top;-ms-transform-origin:left top;transform-origin:left top;-webkit-transition:-webkit-transform 333ms cubic-bezier(.4,0,.22,1);transition:transform 333ms cubic-bezier(.4,0,.22,1)}.pswp__bg{-webkit-transition:opacity 333ms cubic-bezier(.4,0,.22,1);transition:opacity 333ms cubic-bezier(.4,0,.22,1)}.pswp--animated-in .pswp__bg,.pswp--animated-in .pswp__zoom-wrap{-webkit-transition:none;transition:none}.pswp__item{left:0;right:0;top:0;bottom:0}.pswp__img{width:auto;height:auto;top:0;left:0}.pswp__img--placeholder--blank{background:#222}.pswp--ie .pswp__img{width:100%!important;height:auto!important;left:0;top:0}.pswp__error-msg{left:0;top:50%;width:100%;text-align:center;font-size:14px;line-height:16px;margin-top:-8px;color:#CCC}.pswp__error-msg a{color:#CCC;text-decoration:underline}

/* Lightbox error message */

.pswp__error-msg {
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
}



/** fix for crash in Safari 13 **/
   select, select * {
       text-rendering: auto!important;
   }