#backdrop > div {
	opacity: 0;
}

#backdrop .backdrop_background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #333;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 0;
	overflow: hidden;
	pointer-events:none;
}

#backdrop .video_background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 1;
	overflow: hidden;
	pointer-events:none;
}

#backdrop .video_wrapper_outer {
	overflow: hidden;
	position: absolute;
	min-width: 3px;
	min-height: 3px;
	top: -100%;
	left: -2000px;
	right: -2000px;
	bottom: -100%;
	margin: auto;
}

#backdrop .video_wrapper_inner {
	overflow: hidden;
	position: absolute;
	min-width: 10px;
	min-height: 10px;
	left: -2000px;
	right: -2000px;
	top: -2000px;
	bottom: -2000px;
	margin: auto;
}

#backdrop .video_embed {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	position: absolute;
	min-width: 10px;
	min-height: 10px;
	top: 0;
	left: -100%;
	right: -100%;
	margin-left: auto;
	margin-right: auto;
	pointer-events: none;
}

#backdrop ::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

#backdrop ::--webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

[data-backdrop="video"]. ::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

#backdrop .video_background.clickable {
	pointer-events: auto;
}

#backdrop .video_embed.fallback_image {
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
}

#backdrop .image_overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: 24px;
	image-rendering: -moz-pixelated;
	image-rendering: -o-pixelated;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
	background-position: center;
	z-index: 10;
	pointer-events:none;
}


@-webkit-keyframes noisemove {
	0%   { background-position: 0px 0px; }
	33.33%   { background-position: 80px 140px; }
	66.66%   { background-position: 200px 30px; }
	100%   { background-position: 0px 0px; }
}

@-moz-keyframes noisemove {
	0%   { background-position: 0px 0px; }
	33.33%   { background-position: 80px 140px; }
	66.66%   { background-position: 200px 30px; }
	100%   { background-position: 0px 0px; }
}
@-o-keyframes noisemove {
	0%   { background-position: 0px 0px; }
	33.33%   { background-position: 80px 140px; }
	66.66%   { background-position: 200px 30px; }
	100%   { background-position: 0px 0px; }
}
@keyframes noisemove {
	0%   { background-position: 0px 0px; }
	33.33%   { background-position: 80px 140px; }
	66.66%   { background-position: 200px 30px; }
	100%   { background-position: 0px 0px; }
}
